<!DOCTYPE html>
<html>
<head>
    <title>CRACKED</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
</head>
<body>
    <div id="game"></div>

    <script src="./assets/js/game.js"></script>
</body>
</html>