<!DOCTYPE html>
<html>
<head>
    <title>Main Menu</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header>
        <h1>Welcome to the Game</h1>
    </header>

    <main>
        <button id="startButton" href="/game">Start Game</button>
    </main>

    <script src="script.js"></script>
</body>
</html>